torch
urllib3
transformers
sentence-transformers
rdflib
langchain
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-community
huggingface-hub
requests
scylla-driver
pulsar-client
pypdf
google-cloud-aiplatform
pyyaml
prometheus-client
pyarrow
python-logging-loki
